@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.angular-gradient {
		background: linear-gradient(
			90deg,
			rgba(128, 147, 255, 1) 16%,
			rgba(102, 255, 229, 1) 54%
		);
	}
	.linier-gradient {
		background: linear-gradient(
			90deg,
			rgba(128, 147, 255, 0) 0%,
			rgba(125, 155, 250, 1) 25%,
			rgba(96, 219, 212, 1) 75%,
			rgba(92, 228, 207, 0) 100%
		);
	}
	.linier-full {
		background: linear-gradient(
			90deg,
			rgba(125, 155, 250, 1) 0%,
			rgba(96, 219, 212, 1) 100%
		);
	}

	.text-h1 {
		@apply font-display text-[2.62rem] font-[700] capitalize leading-[3.5rem] md:text-[5.12rem] md:leading-[6rem];
	}
	.text-h2 {
		@apply font-display text-[2.25rem] capitalize leading-[2.75rem] md:text-[3.87rem] md:leading-[4.62rem];
	}
}
